*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Arial;

background:linear-gradient(
135deg,
#0f172a,
#2563eb
);

height:100vh;

display:flex;

justify-content:center;

align-items:center;
}

.container{

background:white;

padding:40px;

width:400px;

border-radius:20px;

box-shadow:0 0 20px rgba(
0,
0,
0,
0.3
);

}

h1,h2{

text-align:center;

margin-bottom:20px;
}

input,
select,
button{

width:100%;

padding:12px;

margin-top:10px;

margin-bottom:15px;

border-radius:8px;

border:1px solid gray;
}

button{

background:#2563eb;

color:white;

border:none;

font-size:16px;

cursor:pointer;
}

button:hover{

background:#1d4ed8;
}

.route{

background:#f1f5f9;

padding:15px;

border-radius:10px;

margin-top:20px;
}